#{extends 'main.html' /}
#{set title:'Surf Forecast' /}

#{form @index()}
<input type="submit" name="submit" value="Back to The Line-Up">
#{/form}

<h1>Surf Forecast for the Mediterranean Sea</h1>

<br>

<h2>Information coming from the State Buoys</h2>

<br>

<h3>Catalunya</h3>

<ul>
<li><a href="http://surfmediterraneo.com/previsiones/barcelona/">Barcelona</a></li>
<li><a href="http://surfmediterraneo.com/previsiones/tarragona/">Tarragona</a></li>
<li><a href="http://surfmediterraneo.com/previsiones/med6/">Cap de Creus</a></li>
</ul>

<br>

<h3>Illes Balears</h3>

<ul>
<li><a href="http://surfmediterraneo.com/previsiones/alcudia/">Alcudia</a></li>
<li><a href="http://surfmediterraneo.com/previsiones/palma/">Palma de Mallorca</a></li>
<li><a href="http://surfmediterraneo.com/previsiones/mahon/">Mahón</a></li>
<li><a href="http://surfmediterraneo.com/previsiones/ibiza/">Ibiza</a></li>
</ul>

<br>

<h3>Com. Valenciana</h3>

<ul>
<li><a href="http://surfmediterraneo.com/previsiones/vinaroz/">Vinaròs</a></li>
<li><a href="http://surfmediterraneo.com/previsiones/castellon/">Castellón</a></li>
<li><a href="http://surfmediterraneo.com/previsiones/valencia/">Valencia</a></li>
<li><a href="http://surfmediterraneo.com/previsiones/gandia/">Gandía</a></li>
<li><a href="http://surfmediterraneo.com/previsiones/alicante/">Alicante</a></li>
<li><a href="http://surfmediterraneo.com/previsiones/torrevieja/">Torrevieja</a></li>
</ul>

<br>

<h3>Murcia</h3>

<ul>
<li><a href="http://surfmediterraneo.com/previsiones/cartagena/">Cartagena</a></li>
<li><a href="http://surfmediterraneo.com/previsiones/carboneras/">Carboneras</a></li>
<li><a href="http://surfmediterraneo.com/previsiones/almeria/">Almería</a></li>
</ul>