<!DOCTYPE html>

<html>
    <head>

        <title>#{get 'title' /}</title>               

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/css/main3.css'}" />

        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />

    </head>
    <body>
        
        <div id="header">
            <div id="logo">
                SurfEETAC
            </div>
        </div>
        
        <div id="main">
            #{doLayout /} 
        </div>
        
        <p id="footer">
            SurfEETAC is a kind of social network made for and by surfers of the Mediterranean Sea.
        </p>
        
    </body>
</html>
